<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid darkgray;
        }

        td {
            border: 1px solid darkgray;
            padding: 1em;
        }
    </style>
</head>
<body>
<h1>JSON 데이터 전송 예제</h1>
<input type="text" id="name">
<input type="text" id="phoneNumber">
<button id="sendButton">JSON 데이터 전송</button>
<br><br>
<div id="create"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        $("#sendButton").click(function() {
            var jsonData = {
                id: [[${user.id}]],
                password: [[${user.password}]],
                name: [[${user.name}]]
            }

            $.ajax({
                type: "POST",
                url: "/sendJson",
                data: JSON.stringify(jsonData),
                contentType: "application/json",
                success: function(response) {
                    var row = response.id + " " + response.password + " " + response.name;
                    $("#create").append(row);
                }
            })
        })
    })
</script>
</body>
</html>