<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center;">Ajax 통신 연습</h1>
<div style="display: flex; justify-content: center;">
    <input type="text" id="dataInput">
    <button class="btn btn-danger" id="redButton">전송</button>
</div>
<div id="responseDiv"></div>
<script>
    $(document).ready(function() {
       $('#redButton').click(function() {
            var inputData = $("#dataInput").val();

            $.ajax({
                type: "POST",
                url: "/sendData",
                data: inputData,
                contentType: "text/plain",
                success: function (response) {
                    $("#responseDiv").html(response);
                }
            });
       });
    });
</script>
</body>
</html>