<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid darkgray;
        }

        td {
            border: 1px solid darkgray;
            padding: 1em;
        }

        #bold {
            font-weight: bolder;
        }
    </style>
</head>
<body>
<a href="/">홈으로</a>
    <table>
        <tr id="bold">
            <td>고유번호</td>
            <td>아이디</td>
            <td>비밀번호</td>
            <td>이름</td>
            <td>전화번호</td>
            <td>삭제</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.userNumber}"></td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td>
                <form action="/deleteUser" method="post">
                    <input type="hidden" name="userNumber" th:value="${user.userNumber}">
                    <button type="submit" class="btn-danger">X</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <form action="/searchList" method="get">
        <input type="text" style="width: 200px; margin-bottom: 0.1em;" name="searchId">
        <button type="submit" class="btn btn-primary">아이디 검색</button>
    </form>
    <form action="/addUser">
        <button type="submit" class="btn btn-info">회원 추가</button>
    </form>
</body>
</html>